
body{
    background-color: #EEE;
}


.main-wrapper-div
{

   width: 100%;background-color: #EEE;
}


.header{
    margin:0px;
    height: 150px;width: 100%;background-color: #00CCFF;
}
 .logo{

    margin-left: 500px;
}
.logo h1{
    color: #ffffff;
    margin: 0 auto;
    padding: 0px;font-size: 80px;


}

.logo-image{
    height: 200px;
}
